
@{
    ViewData["Title"] = "AboutUs";
}

<!--<h1>About Us</h1>-->
<h2>About Us</h2>
<p>James Khumalo, a visionary entrepreneur, set out to establish KhumaloCraft Emporium as a global e-commerce platform to showcase handcrafted products. His dream involves connecting artisans worldwide with a discerning audience.</p>

