
@{
    ViewData["Title"] = "ContactUs";
}

<!--<h1>Contact Us</h1>-->
<h2>Contact Us</h2>
<p>If you have any inquiries or feedback, please contact us:</p>
<address>
    KhumaloCraft Emporium<br>
    28 Main Street<br>
    Cape Town, South Africa<br>
    Email: info@khumalocraft.com<br>
    Phone: +27 556 7589
</address>

