
@{
    ViewData["Title"] = "MyWork";
}

<div>
    <h1>My Work</h1>
    <h3>What is KhumaloCraft?</h3>
    <body>
        <p>
            KhumaloCraft is an e-commerce venture initiated by James Khumalo, aiming to create a 
            global platform for showcasing handcrafted products from artisans worldwide. 
            His vision involves connecting these artisans with a discerning audience.
        </p>
        <figure>
            <img src="https://georgemillerart.com/cdn/shop/products/il_fullxfull.3846364111_dz4y.jpg?v=1654821340&width=713" alt="KhumaloCraft Image">
            <figcaption>By Zimkhitha Sasanti</figcaption>        
   </figure>
        <img src="https://paintingsonline.com.au/cdn/shop/products/YK-2-2975-RED-90X90_2_1000x.jpg?v=1607278756" alt="KhumaloCraft Image">
    </body>
</div>

